.container{
    max-width: 1200px;
    margin: 0 auto;
}

.tituloPrincipal{
    text-align: center;
    font-size: 6rem;
    margin-top: 20px;
}

.containerPreguntas{
    margin-top: 50px;
}

.containerPregunta{
    margin-bottom: 30px;
}

.containerPregunta:last-child{
    margin-bottom: 0;
}

.tituloPregunta{
    font-size: 3rem;
}

.parrafoPregunta{
    font-size: 1.8rem;
    line-height: 1.5;
    padding-left: 20px;
    padding-top: 20px;
    color: #868f97;
}



/* MEDIA QUERYS: */

/* Estilos para dispositivos con ancho de pantalla igual o mayor a 1010px (993px - 1200px)*/
@media screen and (min-width: 1010px) and (max-width: 1200px) {

    .container{
        width: 80%;
    }

    .containerPregunta{
        margin-bottom: 50px;
    }

    .parrafoPregunta{
        line-height: 1.8;
        padding-left: 0;
    }

}

/* Estilos para dispositivos con ancho de pantalla igual o mayor a 769px (769px - 1010px)*/
@media screen and (min-width: 769px) and (max-width: 1010px) {

    .container{
        width: 85%;
    }

    .containerPregunta{
        margin-bottom: 50px;
    }

    .parrafoPregunta{
        line-height: 1.8;
        padding-left: 0;
    }

}

/* Estilos para dispositivos con ancho de pantalla igual o mayor a 576px (576px - 768px)*/
@media screen and (min-width: 576px) and (max-width: 768px){

    .container{
        width: 85%;
    }

    .tituloPrincipal{
        font-size: 5.5rem;
    }

    .containerPregunta{
        margin-bottom: 50px;
    }

    .parrafoPregunta{
        line-height: 1.8;
        padding-left: 0;
    }

}

/* Estilos para dispositivos con ancho de pantalla menor a 576px (0px - 576px)*/
@media screen and (max-width: 575px){

    .container{
        width: 85%;
    }

    .tituloPrincipal{
        font-size: 5rem;
    }

    .containerPregunta{
        margin-bottom: 50px;
    }

    .parrafoPregunta{
        font-size: 1.8rem;
        line-height: 1.8;
        padding-left: 0;
    }
       
}