.testDoingContainer{
    /* background-color: red; */
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.testDoingQuestions{
    /* background-color: blue; */
    width: 100%;
    margin: 0 auto;
}

.testDoingTitle {
    color: #ffffff;
    text-align: center;
    font-size: 6.5rem;
    font-weight: 900;
    margin: 30px 0;
}

.testDoingTitleQuestions {
  color: white;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.testDoingOptions{
    color: #868f97;
    font-size: 2rem;
    line-height: 1.5;
}

.testDoingPregunta{
    /* background-color: orangered; */
    margin-bottom: 60px;
}

.testDoingPreguntaSeparacion{
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    gap: 30px;
}

.testDoingInput{
    cursor: pointer;
}

.containerBtn{
    text-align: center;
}

.testDoingBtn{  
    background-color: white;
    color: #000;
    cursor: pointer;
    font-weight: 700;
}

.testDoingBtn:hover{
    background-color: #d6d6d6;
}


.testDoingContainer ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.testDoingContainer li {
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    color: #868f97;
    width: 100%;
    text-align: center;
    border: 1px solid;
    word-wrap: break-word;
    max-width: 100%;
}



/* MEDIA QUERYS: */

/* Estilos para dispositivos con ancho de pantalla igual o mayor a 1010px (993px - 1200px)*/
@media screen and (min-width: 1010px) and (max-width: 1200px) {

    .testDoingQuestions{
        width: 80%;
    }

}

/* Estilos para dispositivos con ancho de pantalla igual o mayor a 769px (769px - 1010px)*/
@media screen and (min-width: 769px) and (max-width: 1010px) {

    .testDoingQuestions{
        width: 80%;
    }

}

/* Estilos para dispositivos con ancho de pantalla igual o mayor a 576px (576px - 768px)*/
@media screen and (min-width: 576px) and (max-width: 768px){

    .testDoingQuestions{
        width: 80%;
    }

}

/* Estilos para dispositivos con ancho de pantalla menor a 576px (0px - 576px)*/
@media screen and (max-width: 575px){

    .testDoingQuestions{
        width: 90%;
    }

    .testDoingTitle {
        font-size: 6rem;
        margin: 0 0 20px;
    }

    .testDoingTitleQuestions {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .testDoingPreguntaSeparacion{
        margin-bottom: 35px;
    }
   
    
}