/* GLOBALES */
.aboutMain{
    max-width: 1200px;
    /* background-color: red; */
    overflow: hidden;
    margin: 30px 0 0 0;
}


/* SECCION IMAGEN */
.imgAboutSection{
    /* background-color: blue; */
    max-width: 1200px;
    height: 200px;
    margin: 50px 0 50px;
    overflow: hidden;
}

.imgAbout{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


/* SECCION TEXTO */
.textoAboutSection{
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

.title{
    text-align: center;
    font-size: 6rem;
    margin-bottom: 30px;
}

.paragraph{
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 25px;
    color: #868f97;
}

.paragraph:last-child{
    margin: 0;
}



/* MEDIA QUERYS: */

/* Estilos para dispositivos con ancho de pantalla igual o mayor hasta 1200px (993px - 1200px)*/
@media screen and (min-width: 1010px) and (max-width: 1200px) {

    .title{
        padding-top: 30px;
    }

    .imgAboutSection{
        width: 90%;
        margin: 0 auto;
    }

}

/* Estilos para dispositivos con ancho de pantalla igual o mayor a 769px (769px - 1010px)*/
@media screen and (min-width: 769px) and (max-width: 1010px) {

    .title{
        padding-top: 30px;
    }

    .imgAboutSection{
        width: 90%;
        margin: 0 auto;
    }

}

/* Estilos para dispositivos con ancho de pantalla igual o mayor a 576px (576px - 768px)*/
@media screen and (min-width: 576px) and (max-width: 768px){

    .title{
        padding-top: 30px;
    }

    .imgAboutSection{
        width: 90%;
        margin: 0 auto;
    }

}

/* Estilos para dispositivos con ancho de pantalla menor a 576px (0px - 576px)*/
@media screen and (max-width: 575px){

    .title{
        font-size: 5rem;
        padding-top: 30px;
    }
   
    .imgAboutSection{
        width: 85%;
        margin: 0 auto;
        height: 150px;
    }
    
}