.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.sectionContenido{
    margin: 20px 0 100px;
}


.title {
    text-align: center;
    font-size: 4.8rem;
    padding: 30px 0 30px;
}

.parrafo {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    color: #868f97;
    line-height: 2;
}

/* MEDIA QUERYS: */

/* Estilos para dispositivos con ancho de pantalla igual o mayor a 993px (993px - 1200px)*/
@media screen and (min-width: 993px) and (max-width: 1200px){

    .contenedor{
        width: 90%;
        overflow: hidden;
        /* background-color: #a21028; */
    }

    .sectionContenido{
        margin: 20px 0 50px;
        
    }

    .title {
        font-size: 4.6rem;
    }
}

/* Estilos para dispositivos con ancho de pantalla igual o mayor a 769px (769px - 992px)*/
@media screen and (min-width: 769px) and (max-width: 992px){

    .contenedor{
        width: 90%;
        overflow: hidden;
        /* background-color: blue; */
    }

    .sectionContenido{
        margin-bottom: 50px;
    }

    .title {
        font-size: 4.2rem;
    }
}

/* Estilos para dispositivos con ancho de pantalla igual o mayor a 576px (576px - 768px)*/
@media screen and (min-width: 576px) and (max-width: 768px){

    .contenedor{
        width: 90%;
        overflow: hidden;
        /* background-color: red; */
    }

    .sectionContenido{
        margin-bottom: 50px;
    }

    .title {
        font-size: 4rem;
    }

}

/* Estilos para dispositivos con ancho de pantalla menor a 576px (0px - 576px)*/
@media screen and (max-width: 575px){

    .contenedor {
        width: 90%;
        overflow: hidden;
        /* background-color: #235c8e; */
    }

    .sectionContenido{
        margin: 20px 0 50px;
    }

    .title {
        font-size: 3.2rem;
    }

    .parrafo {
        font-size: 1.6rem;
    }
}
  